.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator-keypad {
    display: flex;
    flex-direction: row-reverse;
}

.calculator-keypad-number-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75px;
}

.calculator-keypad-row {
    display: flex;
    flex-direction: column;
}

input {
    text-align: right;
}